@charset "UTF-8";
.register {
	width: 500px;
	height: 400px;
	margin-top: 100px;
	margin-left: 450px;
	border: 1px solid #B61B1F;
}

/* 注册开始 */
.register h1 {
    margin: 20px 210px;
    font: 20px "microsoft yahei";
    font-weight: 700;
    color: #e4393c;
}
.register input {
    width: 350px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #e85356;
    margin: 20px 75px;
}
.register .name,
.register .pwd {
    display: inline-block;
    font: 14px "microsoft yahei";
    color: #C7CBD1;
    padding-left: 10px;
}
.register .registerbtn {
	width: 360px;
    background: #e4393c;
    color: #fff;
    font-size: 20px;
    font-family: 'Microsoft YaHei';
    margin-left: 75px;
    cursor: pointer;
}
/* 注册结束 */