@charset "UTF-8";
.shopcart_mian {
	margin: 20px auto;
	width: 1000px;
}
.shopcartT {
	height: 50px;
	border: 2px solid #EEEEEE;
	padding-left: 50px;
}
.shopcartT span {
	float: left;
	font: 16px "microsoft yahei";
	line-height: 50px;
	padding-left: 30px;
}
.shopcartT ul {
	float: right;
	
}
.shopcartT ul li {
	float: left;
	font: 16px "microsoft yahei";
	line-height: 50px;
	width: 130px;
}
.shopcartM {
	height: 100px;
	border: 2px solid #EEEEEE;
	position: relative;
}
.shopcartM .check {
	position: absolute;
	left: 5px;
	top: 44px;
}
.shopcartM img{
	position: absolute;
	top: 10px;
	left: 30px;
}
.shopcartM a{
	position: absolute;
	left: 140px;
	top: 40px;
	font: 14px "microsoft yahei";
	font-weight: 700;
}
.shopcartM .price {
	position: absolute;
	font: 14px "microsoft yahei";
	top: 40px;
	left: 450px;
}
.shopcartM .number {
	position: absolute;
	font: 14px "microsoft yahei";
	top: 40px;
	left: 590px;
}
.shopcartM .number input {
	width: 20px;
	text-align: center;
	border: 1px solid #D8D8D8;
}
.shopcartM .eachPrice {
	position: absolute;
	font: 14px "microsoft yahei";
	top: 40px;
	left: 740px;

}
.shopcartM .delete {
	position: absolute;
	font: 14px "microsoft yahei";
	top: 40px;
	left: 870px;
	cursor: pointer;
}
.shopcartB {
	margin-top: 30px;
	margin-bottom: 100px;
	height: 50px;
	line-height: 50px;
	background-color: #F1F1F1;
	padding-left: 700px;
	position: relative;
}
.shopcartB span {
	margin-right: 20px;
	font: 14px "microsoft yahei";
	font-weight: 700;
}
.shopcartB a {
	display: inline-block;
	width: 80px;
	height: 50px;
	position: absolute;
	background-color: #FF4400;
	text-align: center;
	font: 15px/50px "microsoft yahei";
	color: #FFFFFF;
}